@model State
@{
    ViewBag.Title = "Delete State";
}

<h2>Confirm Deltetion</h2>
<h3>@Model.Name (@Model.Description)</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="StateId"/>

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Home" asp-action="Index"
    class="btn btn-primary">Cancel</a>

</form>